
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600,700,800,800italic);


::selection {color:#404040;background:#F0F0F0;}
::-moz-selection {color:#404040;background:#F0F0F0;}

html {
    background-color: #474747;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}
	
/*Menu'*/
.nav-justified li a {
    letter-spacing: 1px;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.85em;
    text-transform:uppercase;
    padding-top: 16px;
}
.nav-justified li a:hover {
	color: #fff;
	font-weight:400;
	background: none; 
}
.nav-justified li a:active {
	color: #ffffff;
	font-weight:400;
		background: none; 
}
#myscrollspy .active a {
	color: #ffffff;
	font-weight:400;
	background: none; 
	text-shadow: 2px 2px 10px #ccc;
}
.nav-justified li a:visited {
	color: #ccc;
	font-weight:300;
	background: #000; 
}

/* navbarshadow*/
.top {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
.top .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 10px #ccc;
    height: 50px;
    font-weight:700;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: none;
    color: #FFFFFF;
    text-decoration: none;
}
.top .container {
    padding: 0;

}
.banner {
    background-color: #FFFFFF;
}
.banner .container {
    background-color: #FFFFFF;
    min-height: 900px;
    padding: 80px 30px 30px 40px;  								
}

/* Image Visualization */

 #imgrid{
    min-height: 100px;
}
.imgviz {
    background-color: #fff;
    clear:both;
}
.imgviz h3 {
	text-align: center;
	color: #000;
	Padding-top: 20px;
	font-size: 29px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0px;
}
#box {
   min-height: 100px;
}
.button a {
  display: block;
  height: 50px;
  width: 300px;
  line-height: 50px;
  background: #68c8d9;
  text-align: center;
  margin:0 auto;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #28707c;
  font-weight:600;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button a:hover {
	 text-decoration: none;
	 background: #43BBD0;
	 color: #ffffff;
}
.button a:hover {
	 text-decoration: none;
}
.bottom {
    background-color: #201D1E;
    border-top: 5px solid #999;
}
.bottom .container {
    background-color: #201D1E;
    min-height: 200px;
}
.bottom .container h5 {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	color: #999;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:1px;
	font-size: 11px;
} 
.bottom .container p {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
    padding-top: 10px; 
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: none;
     padding-bottom: 30px;
 } 

a#projectby {
    color: #2b9aad;
	font-weight:400;
    font-size: 12px;
} 

a#projectby:visited{
    color: #2b9aad;
} 
a#projectby:hover{
    color: #28ceeb;
    font-weight:600;
    text-decoration: none;
} 
a#projectby:active{
    color: #53c1d4;
    text-decoration: none;
} 
.share {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2em;
    margin-right: 10px;
}
.share:hover {
    color: #43BBD0;
    text-decoration: none;
}

.content p {
    line-height: 25px;
    font-size: 15px;
    color: #404040;
}
.content {
    padding-top:10px;
}

.navbar-toggle {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin: 3px;
    padding: 5px 7px;
    line-height: 32px;
}
.navbar-toggle:hover {
  color: #201D1E;
}
.nav > li > a {
    display: block;
    padding: 17px 0;
    position: relative;
}


@media (max-width:768px){
.nav > li > a {
    text-align: left;
    padding-left:20px;
    }
}

.container .content a:link {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #404040;	
} 
.container .content a:visited {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #404040;	
} 
.container .content a:hover {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #43BBD0;	
	text-decoration: none;
} 
.container .content a:active {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #43BBD0;	
	text-decoration: none;
} 

/*sections ids*/

#home, #abt, #imgrid{
	padding-top: 50px;
}
